// FONTS
$fontCode1: 'Chivo Mono', monospace;
$fontCode2: 'Source Code Pro', monospace;
$fontCode3: 'Anonymous Pro', monospace;
$fontCode4: 'Yomogi', cursive;
$fontEng_1: "Braciola";
$fontEng_2: "Braciola Thin";

// COLORS
$clr-text: #000;
$clr-bg: #fff;
$clr-clicked: #fbd85d;
$clr-false: #2952a3;
$clr-true: #ff4d4d;
$clr-unclick: #999;

// MIXIN
@mixin box {
    border: 2px solid $clr-text;
	box-shadow: 5px 5px 0 $clr-text;
    border-radius: 5px;
}

@mixin rainbow($id, $size) {
    top: calc($size * $id);
    left: calc($size * $id);
    
    border: $size solid var(--clr);
    border-bottom: none;
    border-radius: calc(150px - $size * $id) calc(150px - $size * $id) 0 0;

    width: calc(300px - $size * $id * 2);
    height: calc(150px - $size * $id);
}